.logo span {
     margin-left: 80px;
     font-size: 20px;
}
.rojo {
     color: red;
}
.verde {
     color: green;
}
.section-title {
     margin-bottom: 15px;
}
.member h2 {
     font-size: 30px;
}
